.container {
  min-height: 100vh;
  width: 100vw;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100vw;
  padding: 1em 5em;
  display: flex;
  background: #121013;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.header .logo {
  letter-spacing: 0.4em;
  cursor: pointer;
  font-family: 'Bebas Neue';
}


.header .logoContainer .logo img {
  display: inline;
}

.header .logo .tv{
  color: #eb596e;
}

.header .menu a{
  margin: 0 1em;
  text-transform: uppercase;
  font-weight: bold;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main video {
  filter: drop-shadow(8px -2px 6px red);
}

.main img {
  display: none;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #DEC328;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0;
  line-height: 1.15;
  font-size: 1.8rem;
  text-align: center;
}

.button {
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: 150px;
  text-transform: uppercase;
  text-align: center;
  width: 150px;
  padding: 10px;
  outline: none;
  background-color: #FDF733;
  transition: all 0.5s;
  color: #000;
  border: none;
  position: absolute;
  cursor: pointer;
}

.button:hover {
  background-color: #000;
  color: #FDF733;
}
.button:active {
  background-color: #000;
  color: #FDF733;
}

.sectionInfo{
  width: 100%;
  background-color: #252525;
  display: flex;
  justify-content: center;
}

.sectionInfo .cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 70%;
  padding: 5em 0 5em 0;
  flex-wrap: wrap;
}

.sectionInfo .cards .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  text-align: center;
  padding: 1em;
  background: #3a3a3a;
  color: #fff;
  margin: 0 50px 40px 0;
  margin-right: 50px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.sectionInfo .cards .card .titleCard{
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}

.sectionInfo .cards .card .description{
  font-size: 0.9em;
  color: #beb5b5;
  margin-bottom: 30px;
  font-weight: 300;
}

.sectionInfo .cards .card .buttonInfo {
  background-color: #4b5566;
  border: none;
  color: #fff;
  padding: 15px 0;
  width: 130px;
  font-size: 1em;
  outline: none;
  cursor: pointer;
  bottom: 0;
}


.sectionInfo .cards:last-child{
  margin: 0;
}

.sectionDispositivos {
  width: 100%;
  background-color: #423f3f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10em 2em 2em 2em;
  color: #fff;
  text-align: center;
}

.sectionDispositivos .titleDispositivo {
  letter-spacing: 0.2em;
  font-size: 3.5em;
  color: #f1eeee;
}
.sectionDispositivos .subtitleDispositivo {
  letter-spacing: 0.2em;
  font-size: 1.2em;
  margin-top: 15px;
  color: #d3cfcf;
}

.sectionDispositivos .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 70%;
  padding: 5em 0 5em 0;
  flex-wrap: wrap;
}

.sectionDispositivos .cards .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 350px;
  text-align: center;
  padding: 2em 5em;
  background: #575353;
  color: #fff;
  margin: 0 50px 40px 0;
  margin-right: 50px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.sectionDispositivos .cards .card svg {
  margin-bottom: 20px;
}

.sectionDispositivos .cards .card .category {
  font-weight: bold;
  font-size: 1.5em;
}
.sectionDispositivos .cards .card .category .detail {
  font-weight: 500;
  font-size: 0.9em;
}





@media(max-width: 988px){
  .title {
    top: 30%;
  }
  
  .button {
    top: 20%;
  }
  .main {
    background: #fff;
  }
  
}

@media(max-width: 615px){
  .title {
    top: 30%;
    color: #fff;
  }
  
  .button {
    top: 20%;
  }

  .sectionInfo .cards .card{
    margin: 15px 0;
  }

  .header{
    justify-content: center;
  }
  .main {
    background: rgb(151, 26, 26);
  }
  .main img {
    display: block;
    width: 100%;
    filter: drop-shadow(0px 1px 10px red) opacity(60%);
  }
  .main video{
    display: none;
  }

  .sectionDispositivos .cards {
    flex-direction: column;
  }
  .sectionDispositivos .card {
    width: 100%;
  }
}

@media(max-width: 430px){
  .header .logo {
    font-size: 1.5em;
    text-align: center;
  }


  .title {
    font-size: 1.6em;
    top: 20%;
  }

  .button {
    top: 10%;
  }

  .sectionInfo .cards {
    max-width: 90%;
  }

  .sectionInfo .cards .card{
    margin: 15px 0;
  }
}
